body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: #444;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px;
    display: inline-block;
    width: 250px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

.dark .card {
    background: #1e1e1e;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
